<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>DumbTransPro</string>
    <key>CFBundleDisplayName</key>
    <string>瞎翻 Pro</string>
    <key>CFBundleIdentifier</key>
    <string>com.whimsycode.dumbtrans-pro</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>CFBundleExecutable</key>
    <string>DumbTransPro</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
</dict>
</plist>
